{% extends 'vinculacion/base.html' %}
{% load static %}

{% block extraresources %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block contenido %}

<div class="d-flex flex-column justify-content-center align-items-center">

  <h1 class="titulo-seccion">Empresas</h1>

  {% if not object_list %}
    <div class="alert alert-secondary">No existen empresas</div>
  {% endif %}

  <div class="row w-75">

    {% for empresa in object_list %}
    <div class="col-md-6">
      <div class="card empresa">
        <div class="row no-gutters">
          <div class="col-4">
            <img src="{% static 'img/empresa.jpg' %}" class="card-img m-2" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">{{empresa.nombre_empresa}}</h5>
              <p class="card-text">
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Especialidades: {{empresa.especialidades.all|join:", "}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="d-flex justify-content-center mt-3">
    <ul class="pagination pagination-primary">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
            </a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{page_obj.previous_page_number}}</a></li>
        {% endif %}

        <li class="page-item active"><a class="page-link" href="#">{{page_obj.number}}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{page_obj.next_page_number}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
            </a></li>
        {% endif %}
    </ul>
    </div>

  </div>

</div>

{% endblock %}