{% extends 'vinculacion/perfil_base.html' %}
{% load static %}

{% block contenido_perfil %}

<div class="d-flex flex-column align-items-center h-100 w-100">

  <h1 class="titulo-seccion">Selecciona la categoria en la que deseas participar.</h1>
  <h5>Quedan {{Convocatoria.days}} diás para el cierre de la convocatoria.</h5>

  <div class="row">

    {% if CategoriaA == False and CategoriaB == False%}
      <div class="col-md-6">
        <div class="card border-primary text-center">
          <img src="{% static 'img/MEI.jpeg' %}" width="100px" class="card-img-top" alt="premio arbol y bonilla">
          <div class="card-body">
            <h5 class="card-title text-center">Producción Científica y Tecnológica.</h5>
            <a href = "{% url 'investigadores:premios-categoria-a' %}" class="btn btn-primary">Participa.</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card border-primary text-center">
          <img src="{% static 'img/JAB.png' %}" width="100px" class="card-img-top" alt="premio arbol y bonilla">
          <div class="card-body center">
            <h5 class="card-title text-center">Superación Académica, Formación de Recursos Humanos y Otros.</h5>
            <a href = "{% url 'investigadores:premios-categoria-b' %}" class="btn btn-primary">Participa.</a>
          </div>
        </div>
      </div>
    {%else%}
      {% if CategoriaA == False %}
        <div class="col-md-6">
          <div class="card border-primary text-center">
            <img src="{% static 'img/JAB.png' %}" width="100px" class="card-img-top" alt="premio arbol y bonilla">
            <div class="card-body center">
              <h5 class="card-title text-center">Superación Académica, Formación de Recursos Humanos y Otros.</h5>
              <a href = "{% url 'investigadores:update-premios-categoria-b' CategoriaB.id%}" class="btn btn-primary">Actualiza tus datos.</a>
            </div>
          </div>
        </div>
      {% endif %}

      {% if CategoriaB == False %}
        <div class="col-md-6">
          <div class="card border-primary text-center">
            <img src="{% static 'img/MEI.jpeg' %}" width="100px" class="card-img-top" alt="premio arbol y bonilla">
            <div class="card-body">
              <h5 class="card-title text-center">Producción Científica y Tecnológica.</h5>
              <a href = "{% url 'investigadores:update-premios-categoria-a' CategoriaA.id%}" class="btn btn-primary">Actualiza tus datos.</a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPCT" tabindex="-1" aria-labelledby="modalPCTLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="text-justify">Categoría A) Producción Científica y Tecnológica, son aquellas actividades científicas y/o tecnológicas realizadas que tienen como resultado la generación o transformación de productos de conocimientos demostrables. Las actividades de la categoría A) se enlistan a continuación:</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">Clave</th>
                  <th scope="col">Producto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">A1</th>
                  <td>Artículos científicos en revistas indexadas o arbitradas.</td>
                </tr>
                <tr>
                  <th scope="row">A2</th>
                  <td>Autoría y coautoría de libros y/o capítulos de libros científicos con arbitraje.</td>
                </tr>
                <tr>
                  <th scope="row">A3</th>
                  <td>Trámite de solicitud u obtención de patentes.</td>
                </tr>
                <tr>
                  <th scope="row">A4</th>
                  <td>Trámite de solicitud u obtención de derechos de obtentor.</td>
                </tr>
                <tr>
                  <th scope="row">A5</th>
                  <td>Desarrollo de software/hardware con Derechos de Autor.</td>
                </tr>
                <tr>
                  <th scope="row">A6</th>
                  <td>Implementaciones Tecnológicas.</td>
                </tr>
                <tr>
                  <th scope="row">A7</th>
                  <td>Artículos o notas científicas publicadas en revistas arbitradas de divulgación científica o tecnológica.</td>
                </tr>
                <tr>
                  <th scope="row">A8</th>
                  <td>Participación en proyectos de investigación, desarrollo tecnológico e innovación con financiamiento externo obtenido mediante convocatoria.</td>
                </tr>
                <tr>
                  <th scope="row">A9</th>
                  <td>Editor, compilador o coordinador de libros colectivos.</td>
                </tr>
                <tr>
                  <th scope="row">A10</th>
                  <td>Pertenencia al Sistema Nacional de Investigadores.</td>
                </tr>
              </tbody>
            </table>
            <br/>
            <p class="text-right">Para mas información consulta el manual de operación dando click <a target="_blank" href="https://cozcyt.gob.mx/docs/web/CXXXIII_3_AL_16.pdf">aqui.</a> </p>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modalJAB" tabindex="-1" aria-labelledby="modalJABLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="text-justify">Categoría B) Superación Académica, Formación de Recursos Humanos y Otros</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">Clave</th>
                  <th scope="col">Producto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">B1</th>
                  <td>Obtención del grado académico de Doctorado o Maestría o Especialidad de los programas del SNP o en el extranjero con beca CONACYT.</td>
                </tr>
                <tr>
                  <th scope="row">B2</th>
                  <td>Obtención del grado académico de Doctorado o Maestría o Especialidad de un programa nacional.</td>
                </tr>
                <tr>
                  <th scope="row">B3</th>
                  <td>Dirección de Tesis o Artículo de Investigación de alumnos graduados en licenciatura, maestría, doctorado o especialidad médica.</td>
                </tr>
                <tr>
                  <th scope="row">B4</th>
                  <td>Dirección de tesis de licenciatura de alumnos graduados en la modalidad de artículo científico.</td>
                </tr>
                <tr>
                  <th scope="row">B5</th>
                  <td>Presentación de ponencias o carteles en eventos científicos, en México o el extranjero.</td>
                </tr>
                <tr>
                  <th scope="row">B6</th>
                  <td>Estancias de investigación en instituciones académicas o de investigación.</td>
                </tr>
                <tr>
                  <th scope="row">B7</th>
                  <td>Asignaturas con créditos impartidas en Especialidad, Maestría o Doctorado de programas del SNP.</td>
                </tr>
                <tr>
                  <th scope="row">B8</th>
                  <td>Participación en proyectos de investigación con financiamiento interno o externo.</td>
                </tr>
                <tr>
                  <th scope="row">B9</th>
                  <td>Publicación de artículos en revistas de divulgación científica o tecnológica no arbitradas.</td>
                </tr>
                <tr>
                  <th scope="row">B10</th>
                  <td>Evaluación de trabajos de investigación o proyectos.</td>
                </tr>
              </tbody>
            </table>
            <br/>
            <p class="text-right"><b>Nota:</b> En esta categoría solo pueden participar los investigadores menores a 35 años</p>
            <p class="text-right">Para mas información consulta el manual de operación dando click <a target="_blank" href="https://cozcyt.gob.mx/docs/web/CXXXIII_3_AL_16.pdf">aqui.</a> </p>
          </div>
      </div>
  </div>
</div>

<script src="{% static 'dist/assets/js/app.js' %}"></script>

{% endblock %}

{% block elemento_activo %}premios{% endblock %}