{% extends 'vinculacion/base.html' %}
{% load static %}

{% block contenido %}

<div class="d-flex flex-column align-items-center h-100 w-100">

  <h1 class="titulo-seccion">Selecciona el tipo de usuario que deseas crear</h1>

  <div class="row h-100 w-100 p-5">

    <div class="col-md-4">
      <a href="{% url 'investigadores:investigador_form' %}" id="investigador">
        <div class="card perfil-opcion" style="height: 300px;">
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <h2>Investigador</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="{% url 'empresas:empresa_form' %}" id="empresa">
        <div class="card perfil-opcion" style="height: 300px;">
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <h2>Centro de investigación</h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="{% url 'instituciones_educativas:institucion_educativa_form' %}" id="institucion-educativa">
        <div class="card perfil-opcion" style="height: 300px;">
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <h2>Institución Educativa</h2>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>

{% endblock %}