{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4RC1CC3DQP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4RC1CC3DQP');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer contraseña</title>
  <link rel="stylesheet" href="{% static 'dist/assets/css/main/app.css'%}">
  <link rel="stylesheet" href="{%static 'dist/assets/css/pages/auth.css'%}">
  <link rel="shortcut icon" href="{% static 'dist/assets/images/logo/favicon.png' %}" type="image/png">
</head>

<body>
  <div id="auth">

    <div class="row h-100">
      <div class="col-lg-5 col-12">
        <div style="padding: 2.5rem 10%;">
          <div class="mb-3 d-flex justify-content-center">
            <a href="{% url 'vinculacion:dashboard' %}"><img src="{% static 'img/Logocozcyt.jpg' %}"
                alt="Logo" style="height: 70px;"></a>
          </div>
          <h3>Restablecer contraseña</h3>
          <p class="mb-3" style="font-size: 1.1rem">¿Olvidaste tu contraseña? Ingresa tu correo electrónico en el campo de abajo
          y te enviaremos un correo con instrucciones para crear una nueva contraseña.</p>

        <form method="POST">
          {% csrf_token %}
          <div class="form-group position-relative has-icon-left mb-3">
            <input required="" type="email" name="email" class="form-control form-control-l" placeholder="Correo electrónico">
            <div class="form-control-icon">
              <i class="bi bi-envelope"></i>
            </div>
            {% for error in password_reset_form.email.errors %}
            <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
          </div>

          <button class="btn btn-primary btn-block shadow-lg mt-3">Enviar correo</button>
        </form>


        </div>
      </div>
      <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">

        </div>
      </div>
    </div>

  </div>
</body>

</html>