{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4RC1CC3DQP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4RC1CC3DQP');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Mazer Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'dist/assets/css/main/app.css' %}">
  <link rel="stylesheet" href="{% static 'dist/assets/css/pages/error.css' %}">
  <link rel="shortcut icon" href="{% static 'dist/assets/images/logo/favicon.svg' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'dist/assets/images/logo/favicon.png' %}" type="image/png">
</head>

<body>
  <div id="error">


    <div class="error-page container">
      <div class="col-md-8 col-12 offset-md-2">
        <div class="text-center">
          <img class="img-error" src="{% static 'dist/assets/images/samples/error-404.svg' %}" alt="Not Found">
          <h1 class="error-title">NO ENCONTRADO</h1>
          <p class='fs-5 text-gray-600'>No se encontró la página que estás buscando.</p>
          <a href="{% url 'vinculacion:dashboard' %}" class="btn btn-lg btn-outline-primary mt-3">Regresar</a>
        </div>
      </div>
    </div>


  </div>
</body>

</html>