{% extends 'administracion/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'dist/assets/css/pages/form-element-select.css' %}">
{% endblock %}

{% block contenido %}
<!-- Basic Vertical form layout section start -->
<section id="basic-vertical-layouts">
  <div class="row match-height">
    <div class="col-md-4 col-sm-12">

			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-center overflow-auto">
						<div class="avatar avatar-xl">
							{% if Categoria.solicitud.user.imagen %}
							<img src="{{MEDIA_URL}}/{{Categoria.solicitud.user.imagen}}" alt="Face 1">
							{% else %}
							<img src="{% static 'dist/assets/images/faces/1.jpg' %}" alt="Avatar">
							{% endif %}
						</div>
						<div class="ms-3 name">
							<h5 class="font-bold">{{Categoria.solicitud.user.nombre_completo|capfirst}}</h5>
							<h6 class="text-muted mb-0">{{Categoria.solicitud.user.curp}}</h6>
                            </br>
                            <p class="card-text">
                                {% if Categoria.solicitud.user.link_google_scholar %}
                                    <a target="_blank" href="{{Categoria.solicitud.user.link_google_scholar}}"><span
                                        class="badge bg-info">Google Scholar</span></a>
                                {% endif %}
                                {% if Categoria.solicitud.user.curriculum_vitae %}
                                    <a target="_blank" href="{% url 'investigadores:mostrar_cv' Categoria.solicitud.user.pk%}"
                                        class="badge bg-secondary">Curriculum Vitae</a>
                                {% endif %}
                                {% if Categoria.solicitud.user.es_sei %}
                                <span class="badge bg-primary">SEI</span>
                                {% endif %}
                                </br>
                                {% if Categoria.solicitud.user.es_sni %}
                                <span class="badge bg-primary">SNI</span>
                                {% endif %}
                                {% if Categoria.solicitud.user.constancia %}
                                <a target="_blank" href="{{MEDIA_URL}}/{{Categoria.solicitud.user.constancia}}"><span
                                class="badge bg-primary">Constancia</span></a>
                                {% endif %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="col-md-8 col-sm-12">
      <div class="card">
				<div class="card-content">
					<div class="card-body">
						<h3 class="card-title">Más información</h4>
							<p class="card-text" style="text-align:justify; text-justify:inter-word">
								{{Categoria.solicitud.user.acerca_de}}
							</p>
					</div>
				</div>
			</div>
    </div>
    <h4> Categoría B) Superación Académica, Formación de Recursos Humanos y Otros </h4>
    {%if Categoria.b1_comentario != ""%}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                <h6>B1 - Obtención del grado académico de Doctorado o Maestría o Especialidad de los programas del SNP o en el extranjero con beca CONACYT.</h6>
                <p>Calificación asignada: {{Categoria.b1}}/15</p>
                </div>
                <div class="card-content">
                <div class="card-body">
                    <p style="text-align:justify; text-justify:inter-word">{{Categoria.b1_comentario}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    {%if Categoria.b2_comentario != ""%}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                <h6>B2 - Obtención del grado académico de Doctorado o Maestría o Especialidad de un programa nacional.</h6>
                <p>Calificación asignada: {{Categoria.b2}}/5</p>
                </div>
                <div class="card-content">
                <div class="card-body">
                    <p style="text-align:justify; text-justify:inter-word">{{Categoria.b2_comentario}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    {%if Categoria.b3_comentario != ""%}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                <h6>B3 - Dirección de Tesis o Artículo de Investigación de alumnos graduados en licenciatura, maestría, doctorado o especialidad médica.</h6>
                <p>Calificación asignada: {{Categoria.b3}}/10</p>
                </div>
                <div class="card-content">
                <div class="card-body">
                    <p style="text-align:justify; text-justify:inter-word">{{Categoria.b3_comentario}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    {%if Categoria.b4_comentario != ""%}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                <h6>B4 - Dirección de tesis de licenciatura de alumnos graduados en la modalidad de artículo científico.</h6>
                <p>Calificación asignada: {{Categoria.b4}}/10</p>
                </div>
                <div class="card-content">
                <div class="card-body">
                    <p style="text-align:justify; text-justify:inter-word">{{Categoria.b4_comentario}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    {%if Categoria.b5_comentario != ""%}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                <h6>B5 - Presentación de ponencias o carteles en eventos científicos, en México o el extranjero.</h6>
                <p>Calificación asignada: {{Categoria.b5}}/10</p>
                </div>
                <div class="card-content">
                <div class="card-body">
                    <p style="text-align:justify; text-justify:inter-word">{{Categoria.b5_comentario}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    {%if Categoria.b6_comentario != ""%}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                <h6>B6 - Estancias de investigación en instituciones académicas o de investigación.</h6>
                <p>Calificación asignada: {{Categoria.b6}}/15</p>
                </div>
                <div class="card-content">
                <div class="card-body">
                    <p style="text-align:justify; text-justify:inter-word">{{Categoria.b6_comentario}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    {%if Categoria.b7_comentario != ""%}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                <h6>B7 - Asignaturas con créditos impartidas en Especialidad, Maestría o Doctorado de programas del SNP.</h6>
                <p>Calificación asignada: {{Categoria.b7}}/10</p>    
                </div>
                <div class="card-content">
                <div class="card-body">
                    <p style="text-align:justify; text-justify:inter-word">{{Categoria.b7_comentario}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    {%if Categoria.b8_comentario != ""%}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                <h6>B8 - Participación en proyectos de investigación con financiamiento interno o externo.</h6>
                <p>Calificación asignada: {{Categoria.b8}}/10</p>
                </div>
                <div class="card-content">
                <div class="card-body">
                    <p style="text-align:justify; text-justify:inter-word">{{Categoria.b8_comentario}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    {%if Categoria.b9_comentario != ""%}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                <h6>B9 - Publicación de artículos en revistas de divulgación científica o tecnológica no arbitradas.</h6>
                <p>Calificación asignada: {{Categoria.b9}}/5</p>
                </div>
                <div class="card-content">
                <div class="card-body">
                    <p style="text-align:justify; text-justify:inter-word">{{Categoria.b9_comentario}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    {%if Categoria.b10_comentario != ""%}
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                <h6>B10 - Evaluación de trabajos de investigación o proyectos.</h6>
                <p>Calificación asignada: {{Categoria.b10}}/10</p>
                </div>
                <div class="card-content">
                <div class="card-body">
                    <p style="text-align:justify; text-justify:inter-word">{{Categoria.b10_comentario}}</p>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
  </div>
</section>

<!-- // Basic Vertical form layout section end -->
{% endblock %}

{% block scripts %}
<script src="{% static 'dist/assets/js/extensions/form-element-select.js' %}"></script>
{% endblock %}

{% block marcar_activo %}{% if menu_activo %}{{menu_activo}}{% else %}premios{% endif %}{% endblock %}
