{% extends 'administracion/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'dist/assets/css/pages/datatables.css' %}">
<link rel="stylesheet" href="{% static 'dist/assets/css/pages/fontawesome.css' %}">
{% endblock %}

{% block contenido %}

<!-- Basic Tables start -->
<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Investigadores</h4>
        </div>
        <div class="card-body">
            <table class="table" id="table1">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Nivel</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for investigador in investigadores %}
                    <tr>
                        <td>{{investigador.user.username}}</td>
                        <td>{{investigador.user.email}}</td>
                        <td>{{investigador.nivel}}</td>
                        <td>{% if investigador.user.is_active %} Activo {% else %} Inactivo {% endif %}</td>
                        <td>
                            <!-- Button trigger for scrolling content modal -->
                            <a class="btn btn-outline-success" href="{% url 'administracion:investigadores_perfil' investigador.pk %}">Ver detalles</a>

                            <!--scrolling content Modal -->
                            <div class="modal fade" id="exampleModalScrollable{{investigador.pk}}" tabindex="-1"
                                role="dialog" aria-labelledby="exampleModalScrollable{{investigador.pk}}Title"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalScrollable{{investigador.pk}}Title">
                                                Detalles</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <form class="form form-horizontal">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>Nombre</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <p class="form-control" id="first-name-icon">
                                                                        {{investigador.user.username}}</p>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-person"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label>Email</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <p class="form-control" id="first-name-icon">
                                                                        {{investigador.user.email}}</p>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-envelope"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label>CURP</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <p class="form-control" id="first-name-icon">
                                                                        {{investigador.curp}}</p>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-fonts"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label>Código postal</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <p class="form-control" id="first-name-icon">
                                                                        {{investigador.codigo_postal}}</p>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-map"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label>Municipio</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <p class="form-control" id="first-name-icon">
                                                                        {{investigador.municipio}}</p>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-bag-dash"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label>Colonia</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <p class="form-control" id="first-name-icon">
                                                                        {{investigador.colonia}}</p>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-people-fill"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label>Calle</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <p class="form-control" id="first-name-icon">
                                                                        {{investigador.calle}}</p>
                                                                    <div class="form-control-icon">
                                                                        <i class="fa fa-road"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label>Número exterior</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <p class="form-control" id="first-name-icon">
                                                                        {{investigador.numero_exterior}}</p>
                                                                    <div class="form-control-icon">
                                                                        <i class="fa fa-registered"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <label>Acerca de</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <p class="form-control" id="first-name-icon">
                                                                        {{investigador.acerca_de}}</p>
                                                                    <div class="form-control-icon">
                                                                        <i class="fa fa-info-circle"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>




                                                    </div>
                                                </div>
                                            </form>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary"
                                                data-bs-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Cerrar</span>
                                            </button>
                                            <a href="{% url 'administracion:aprobar_perfil' investigador.user.pk %}"><span
                                                    class="btn btn-success ml-1">Aceptar</span></a>
                                            <a
                                                href="{% url 'administracion:investigadores_eliminar' investigador.pk %}"><span
                                                    class="btn btn-danger ml-1">Rechazar</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'dist/assets/js/extensions/datatables.js' %}"></script>
{% endblock %}

{% block marcar_activo %}solicitudes{% endblock %}