{% extends 'administracion/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'dist/assets/css/pages/datatables.css' %}">
<link rel="stylesheet" href="{% static 'dist/assets/css/pages/fontawesome.css' %}">
{% endblock %}

{% block contenido %}
<section class="section">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Crear nuevo usuario</h4>
      {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger">{{message}}</div>
      {% else %}
      <div class="alert alert-success">{{message}}</div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="card-body">
      <a href="{% url 'administracion:usuarios_nuevo' %}"><span class="badge bg-success">Crear</span></a>
    </div>
  </div>

</section>

<!-- Basic Tables start -->
<section class="section">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Usuarios</h4>
    </div>
    <div class="card-body">
      <table class="table" id="table1">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Tipo Usuario</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td>{{usuario.username}}</td>
            <td>{{usuario.email}}</td>
            <td>{% if usuario.tipo_usuario %} {{usuario.tipo_usuario}} {% else %} Invitado {% endif %}</td>
            <td>{% if usuario.is_active %} Activo {% else %} Inactivo {% endif %}</td>
            <td>
              <a href="{% url 'administracion:usuarios_editar' usuario.pk %}"><span
                  class="badge bg-info">Editar</span></a>
              <a href="{% url 'administracion:usuarios_eliminar' usuario.pk %}"><span
                  class="badge bg-danger">Eliminar</span></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'dist/assets/js/extensions/datatables.js' %}"></script>
{% endblock %}

{% block marcar_activo %}tablas{% endblock %}